
.sectionKnowhow{
  margin-top:15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card{
  padding:0 1.75rem;
  margin:1.75rem;
}

.Card h2{
  margin-bottom: 3rem;
}

.sectionPrice{
  display: grid;
  margin: 15rem 15rem;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
}

.priceCard{
  padding: 2.75rem;
  border: 1px solid #333;
  border-radius: 2.4rem;
}

.priceCard p{
  font-size: 1.75rem;
  margin-bottom: 3rem;
}

.olGrid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.olTitle{
   font-size: 2rem;
}

.buttonBox{
  display: flex;
  justify-content:center;
}

.button {
  padding: 1rem;
  border-radius: 1.75rem;
  color: hsl(230 35% 7%);
  font-size: 2rem;
  background: hsl(22 78.8% 50%);
  text-decoration: none;
  transition: 500ms;
  cursor: pointer;
  opacity: 0;
  animation: 800ms ease-out 1000ms 1 slideInFromRight-3 forwards;
}

.button:hover,
.button:focus {
  background: hsl(22 78.8% 50% /.9);
  color: hsl(0 0% 100%);
}

@keyframes slideInFromRight-3 {
  0% {
    margin-left: 30px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
